h1 {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#button1 {
    background-color: rgb(69, 162, 179);
}

#button2 {
    background-color: red;
}