<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <main>
        <a href="/clicks/">
            <button id="button1">Click</button>
        </a>
        <p>Count: {{session['count']}}</p>
        <a href="/destroy_session/">
            <button id="button2">Reset</button>
        </a>
    </main>
    
</body>
</html>